* {
    font-family: 'Halant', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Halant', serif;
}
body{
    display: flex; 
    flex-direction: row;
    row-gap: 0.5rem; 
    column-gap: 0.5rem; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.section{
    background-color: #fef6e4;
    color: #172c66;
    /*background-color: #f3d2c1;*/
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    border: 0.2pt dashed #827d7d;
    padding: 2% 1.2%;  
    border-radius: 25px;

    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    

    
}

#informacion-personal > h2, #educacion  > h2, #experiencia > h2, #habilidades > h2, #contacto > h2{
    color: #001858;
}

#informacion-personal, #educacion , #experiencia , #habilidades , #contacto {
    color: #172c66;
}


input[type="submit"] {
    background-color: #f582ae; /* Cambia este color al que desees */
    color: #001858; /* Cambia este color al que desees */
    padding: 5px 10px; /* Ajusta el espacio interno si es necesario */
    border-radius: 5px; /* Agrega esquinas redondeadas si lo deseas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
header,nav,#experiencia{
    flex-basis: 100%;
}
#informacion-personal, #educacion{
    flex-basis: 45%;
}
#habilidades,#contacto,#imagen{
    flex-basis: 20%;
}
#video,#mapa{
    flex-basis: 45%;
}